	<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	">

<!-- 要调用的工作类 -->
	<bean id="jobtask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject" ref="cstLostServiceImpl" />
		<!-- 调用类中的方法名称 -->
		<property name="targetMethod">
			<value>check</value>
		</property>
	</bean>
	<!-- 定义触发时间 -->
	<bean id="doTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtask" />
		</property>		
		<property name="cronExpression">
			<!-- cron表达式:在每天早上8点到晚上8点期间每1分钟触发一次 -->
			<!-- <value>0 0/1 8-20 * * ?</value> -->
			<!-- cron表达式:每5分钟触发一次 -->
			<value>0 0 2 ? * SAT</value>
		</property>
	</bean>
	
</beans>